* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
}

* #btn-drop-menu {
  display: none;
}

* .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background: #fff url("../media/svg/close.svg") no-repeat center center;
  background-size: 95%;
  cursor: pointer;
}

* .borderColor {
  border-color: #000 !important;
}

* body {
  background: #fff;
}

* #end-time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 1;
}

* #end-time #content-end-time {
  padding: 25px;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* #end-time #content-end-time #title-end-time {
  font-size: 1.8125em;
  font-weight: 500;
}

* #end-time #content-end-time #text-end-time {
  margin: 25px 0 50px 0;
  font-size: 1.125em;
}

* #end-time #content-end-time #btn-end-time {
  padding: 10px 20px;
  background: #219653;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 600;
  cursor: pointer;
}

* #my-tasks {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

* #my-tasks .btn-cet {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

* #my-tasks #content-my-tasks {
  overflow: hidden;
  padding: 50px 50px 10px 50px;
  width: 80vw;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

* #my-tasks #content-my-tasks #nav-bar-tasks {
  margin-bottom: 40px;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(1) {
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(1) .item-nav h1 {
  font-weight: 600;
  font-size: 1.8125em;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2) {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  overflow-x: auto;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2)::-webkit-scrollbar {
  height: 5px;
  -webkit-appearance: none;
          appearance: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2)::-webkit-scrollbar-thumb {
  background: rgba(47, 128, 237, 0.5);
  border-radius: 5px;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2)::-webkit-scrollbar-track {
  -webkit-appearance: none;
          appearance: none;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2) .item-nav {
  margin-right: 20px;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2) .item-nav .btn-list-task {
  padding: 0px 10px;
  height: 45px;
  border: 1.5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  background: transparent;
  -webkit-transition: .1s;
  transition: .1s;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2) .item-nav .btn-list-task:hover {
  border-color: black;
}

* #my-tasks #content-my-tasks #nav-bar-tasks #navigation .nav-bar:nth-child(2) .item-nav:nth-child(4) {
  margin-right: 0;
}

* #my-tasks #content-my-tasks #content-tasks-list {
  overflow-y: auto;
  height: 300px;
}

* #my-tasks #content-my-tasks #content-tasks-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-appearance: none;
          appearance: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

* #my-tasks #content-my-tasks #content-tasks-list::-webkit-scrollbar-thumb {
  background: rgba(47, 128, 237, 0.5);
  border-radius: 5px;
}

* #my-tasks #content-my-tasks #content-tasks-list::-webkit-scrollbar-track {
  -webkit-appearance: none;
          appearance: none;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  margin: 5px 0;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task input[type="text"] {
  padding: 0 20px;
  margin-right: 10px;
  height: 45px;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet {
  margin-right: 10px;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet * {
  cursor: pointer;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet:nth-child(1) .btn-cet {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url("../media/svg/check-arrow.svg") no-repeat center center;
  background-size: 75%;
  border: 2px solid black;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet:nth-child(1) .btn-cet:checked {
  border-color: #6FCF97;
  background-color: #6FCF97;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet:nth-child(2) .btn-cet {
  background: #F2C94C url("../media/svg/lapis.svg") no-repeat center center;
  background-size: 55%;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet:nth-child(3) .btn-cet {
  background: #EB5757 url("../media/svg/trash.svg") no-repeat center center;
  background-size: 55%;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet:nth-child(4) .btn-cet {
  background: #6FCF97 url("../media/svg/check-arrow.svg") no-repeat center center;
  background-size: 75%;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .item-cet:nth-child(5) .btn-cet {
  background: #EB5757 url("../media/svg/close-fff.svg") no-repeat center center;
  background-size: 55%;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .btn-restore .btn-cet {
  background: #6FCF97 url("../media/svg/rotate-left-fff.svg") no-repeat center center !important;
  background-size: 70% !important;
  border: none !important;
}

* #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task .task-cet .btn-restore ~ .item-cet .btn-cet {
  background: #EB5757 url("../media/svg/trash.svg") no-repeat center center !important;
  background-size: 55%;
}

* #add-tasks {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 1;
}

* #add-tasks #content-add-tasks {
  width: 80vw;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  -webkit-transition: .5s all;
  transition: .5s all;
  overflow: auto;
}

* #add-tasks #content-add-tasks::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  -webkit-appearance: none;
          appearance: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

* #add-tasks #content-add-tasks::-webkit-scrollbar-thumb {
  background: rgba(47, 128, 237, 0.5);
  border-radius: 5px;
}

* #add-tasks #content-add-tasks::-webkit-scrollbar-track {
  -webkit-appearance: none;
          appearance: none;
}

@media (max-width: 650px) {
  * #add-tasks #content-add-tasks {
    padding: 25px;
    height: 80vh;
  }
}

* #add-tasks #content-add-tasks #nav-bar-add-tasks {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* #add-tasks #content-add-tasks #nav-bar-add-tasks #titles-add-tasks .item-title h1 {
  font-weight: 600;
  font-size: 1.8125em;
  margin: 0 15px 15px 0;
}

* #add-tasks #content-add-tasks #nav-bar-add-tasks #titles-add-tasks .item-title h2 {
  font-size: 1.125em;
}

* #add-tasks #content-add-tasks #content-add-task-list {
  max-height: 250px;
  overflow: auto;
}

* #add-tasks #content-add-tasks #content-add-task-list::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  -webkit-appearance: none;
          appearance: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

* #add-tasks #content-add-tasks #content-add-task-list::-webkit-scrollbar-thumb {
  background: rgba(47, 128, 237, 0.5);
  border-radius: 5px;
}

* #add-tasks #content-add-tasks #content-add-task-list::-webkit-scrollbar-track {
  -webkit-appearance: none;
          appearance: none;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task input[type="text"] {
  margin-right: 10px;
  width: 100vw;
  height: 45px;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  * #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task input[type="text"] {
    width: 700px;
  }
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet {
  margin-right: 10px;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet button {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet .btn-con-task, * #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet .btn-save-edit-task {
  background: #6FCF97 url("../media/svg/check-arrow.svg") no-repeat center center;
  background-size: 75%;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet .btn-edit-task {
  background: #F2C94C url("../media/svg/lapis.svg") no-repeat center center;
  background-size: 55%;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet .btn-trash-task {
  background: #EB5757 url("../media/svg/trash.svg") no-repeat center center;
  background-size: 55%;
}

* #add-tasks #content-add-tasks #content-add-task-list #add-task-list .item-add-task .add-cet .item-cet .btn-cancel-edit-task {
  background: #EB5757 url("../media/svg/close-fff.svg") no-repeat center center;
  background-size: 55%;
}

* #add-tasks #content-add-tasks #add-task {
  margin-top: 25px;
  width: 175px;
  height: 45px;
  border-radius: 5px;
  background: #219653;
  color: #fff;
  font-weight: 700;
  font-size: 1.125em;
  cursor: pointer;
}

@media (min-width: 450px) {
  #pomodoro-time {
    position: relative;
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  #pomodoro-time #content-pomo-time {
    position: relative;
    width: 350px;
    height: 350px;
  }
  #pomodoro-time #content-pomo-time::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: -1;
  }
  #pomodoro-time #content-pomo-time svg {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
  #pomodoro-time #content-pomo-time svg circle {
    position: relative;
    fill: transparent;
    stroke-width: 3;
    stroke: #2F80ED;
    stroke-dasharray: 1110;
    stroke-dashoffset: -0;
    -webkit-transform: rotate(-90deg) translate(-310px, 0px);
            transform: rotate(-90deg) translate(-310px, 0px);
    -webkit-animation: ani 2s ease-in-out infinite;
            animation: ani 2s ease-in-out infinite;
  }
  #pomodoro-time #content-pomo-time #time-title {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  #pomodoro-time #content-pomo-time #time-title .title-princ {
    margin: 50px 0 10px 0;
    font-weight: 600;
    font-size: 1.25em;
  }
  #pomodoro-time #content-pomo-time #time-title .title-secun {
    font-size: 1.125em;
    text-transform: capitalize;
  }
  #pomodoro-time #content-pomo-time #time-title #time-pomodoro {
    margin: 28px 0 63px 0;
    font-size: 4.25em;
  }
  #pomodoro-time #content-pomo-time #time-title #time-controler {
    width: 110px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #pomodoro-time #content-pomo-time #time-title #time-controler button {
    width: 45px;
    height: 45px;
    background: url("../media/svg/rotate-left.svg") no-repeat center center;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #pomodoro-time #content-pomo-time #time-title #time-controler button:nth-child(2) {
    background: url("../media/svg/btn-play.svg") no-repeat center center;
  }
  #end-time {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  #end-time #content-end-time {
    padding: 25px 50px;
    width: 450px;
  }
}

#content-end-time,
#content-my-tasks,
#content-add-tasks {
  -webkit-animation: modalAnimation .5s ease-in-out forwards;
          animation: modalAnimation .5s ease-in-out forwards;
}

#content-end-time *,
#content-my-tasks *,
#content-add-tasks * {
  opacity: 0;
  -webkit-animation: opacityView .5s ease-in-out forwards;
          animation: opacityView .5s ease-in-out forwards;
}

@-webkit-keyframes modalAnimation {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes modalAnimation {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes opacityView {
  to {
    opacity: 1;
  }
}

@keyframes opacityView {
  to {
    opacity: 1;
  }
}

@media (min-width: 285px) {
  #nav-bar {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
  #nav-bar #navigation {
    background: #2F80ED;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #nav-bar #navigation .nav-list {
    color: #fff;
  }
  #nav-bar #navigation .nav-list .item-nav {
    font-weight: 500;
    cursor: pointer;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav a {
    font-weight: 600;
    font-size: 1.25em;
    color: #fff;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) {
    display: none;
  }
  #nav-bar #navigation .nav-list:nth-child(2) {
    width: 323px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 719px) {
  #nav-bar {
    padding: 10px 10px 0 10px;
    height: 60px;
  }
  #nav-bar #btn-drop-menu:checked ~ #navigation {
    height: 260px;
  }
  #nav-bar #btn-drop-menu:checked ~ #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #nav-bar #btn-drop-menu:checked ~ #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::before, #nav-bar #btn-drop-menu:checked ~ #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::after {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  #nav-bar #navigation {
    height: 50px;
    overflow: hidden;
  }
  #nav-bar #navigation .nav-list {
    text-align: center;
  }
  #nav-bar #navigation .nav-list .item-nav {
    margin-bottom: 15px;
    font-weight: 500;
  }
  #nav-bar #navigation .nav-list:nth-child(1) {
    padding: 0 15px;
    height: 50px;
    background: #2F80ED;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media (max-width: 719px) and (min-width: 360px) {
  #nav-bar #navigation .nav-list:nth-child(1) {
    padding: 0 30px;
  }
}

@media (max-width: 719px) {
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav {
    margin-bottom: 0;
    font-size: 1.125em;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav a {
    font-weight: 600;
    color: #fff;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) {
    display: block;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span {
    position: relative;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span, #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::before, #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::after {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::before, #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::before {
    top: -8px;
  }
  #nav-bar #navigation .nav-list:nth-child(1) .item-nav:nth-child(2) label span::after {
    top: 10px;
  }
  #nav-bar #navigation .nav-list:nth-child(2) {
    margin: 25px 0 50px 0;
    width: auto;
    display: block;
  }
}

@media (min-width: 720px) {
  #nav-bar {
    padding: 25px 15px 0 15px;
  }
}

@media (min-width: 720px) and (min-width: 1024px) {
  #nav-bar {
    padding: 25px 50px 0 50px;
  }
}

@media (min-width: 720px) {
  #nav-bar #navigation {
    height: 75px;
    padding: 0 20px;
    background: #2F80ED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 720px) and (min-width: 1024px) {
  #nav-bar #navigation {
    padding: 0 50px;
  }
}

@media (max-width: 450px) {
  #pomodoro-time {
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  #pomodoro-time #content-pomo-time {
    position: relative;
    width: 300px;
    height: 300px;
  }
  #pomodoro-time #content-pomo-time::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: -1;
  }
  #pomodoro-time #content-pomo-time svg {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
  #pomodoro-time #content-pomo-time svg circle {
    position: relative;
    fill: transparent;
    stroke-width: 3;
    stroke: #2F80ED;
    stroke-dasharray: 955;
    stroke-dashoffset: -0;
    -webkit-transform: rotate(-90deg) translate(-310px, 0px);
            transform: rotate(-90deg) translate(-310px, 0px);
    -webkit-animation: ani 2s ease-in-out infinite;
            animation: ani 2s ease-in-out infinite;
  }
  #pomodoro-time #content-pomo-time #time-title {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  #pomodoro-time #content-pomo-time #time-title .title-princ {
    margin: 25px 0 10px 0;
    font-weight: 600;
    font-size: 1.25em;
  }
  #pomodoro-time #content-pomo-time #time-title .title-secun {
    font-size: 1.125em;
    text-transform: capitalize;
  }
  #pomodoro-time #content-pomo-time #time-title #time-pomodoro {
    margin: 27px 0 39px 0;
    font-size: 4.25em;
  }
  #pomodoro-time #content-pomo-time #time-title #time-controler {
    width: 110px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #pomodoro-time #content-pomo-time #time-title #time-controler button {
    width: 45px;
    height: 45px;
    background: url("../media/svg/rotate-left.svg") no-repeat center center;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #pomodoro-time #content-pomo-time #time-title #time-controler button:nth-child(2) {
    background: url("../media/svg/play.svg") no-repeat center center;
  }
}

@media (max-width: 650px) {
  #my-tasks #content-my-tasks {
    padding: 25px 25px 10px 25px;
  }
  #my-tasks #content-my-tasks #content-tasks-list #list-tasks .item-list-task input[type="text"] {
    width: 100vw;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */